# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# If you are using PostgreSQL:
*.pgsql

# Environment variables
.env
.idea/workspace.xml

# Django migrations
*/migrations/*

# Media files
media/

# Static files

**/settings.py

# Local virtual environments
venv/
env/

# PyCharm settings
.idea/
.setting
# macOS files
.DS_Store