{% extends "main.html" %}
{% block title %}Store{% endblock %}
{% load static %}
{% block content %}
<h2>store</h2>
<div class="row">
{% if products %}
    {% for product in products %}
        <div class=col-lg-4>
              <img class="thumbnail" src="{{ product.image}}" >
               <div class="box-element">
                   <h6><strong>{{ product.name }}</strong></h6>
                   <hr>
                   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
                   <a class="btn btn-outline-secondary " href="{% url 'product-detail' product.id %}">view</a>
                   <h4 style="display: inline-block; float: right">{{ product.price|floatformat:2 }}</h4>
               </div>
        </div>
    {% endfor %}
{% else %}
    <p>No products available.</p>
{% endif %}
      
</div>
{% endblock %}